.edit-show {
    transition: width 0.1s ease;
    width: 0;
    overflow-x: hidden;
    height: 90vh;
}
.edit-show.active{
    height: 98vh;
    padding-top: 20px;
    width: 60%;
    z-index: 10;
    background-color: var(--light-color);
    position: relative;
    border-left: 1px solid var(--border);
}

.MuiBox-root.css-147x205 {
    background-color: var(--light-primary-color);
}

.MuiBox-root.css-ky0xin {
    height: 100vh;
}
.MuiBox-root.css-1k3guf7 {
    height: 100vh;
}
.MuiBox-root.css-1jt1yyv {
    height: 100vh;
}

.MuiBox-root {
    background-color: var(--gray-light);
}

.MuiDataGrid-root {
    background-color: var(--light-color);
}

.edit-show-dual {
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 0;
    overflow-x: hidden;
    position: fixed;
    top: 23%;
    left: 32%;
    transform: translate(-50%, -50%) scale(0.65);
    display: flex;
    justify-content: center;
    opacity: 0;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.edit-show-dual.active {
    height: 150%;
    width: 100%;
    scale: 0.65;
    z-index: 1500;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--light-color);
    position: fixed;
    border: 1px solid var(--primary-color);
}

.MuiDataGrid-viewport.MuiDataGrid-row.MuiDataGrid-renderingZone{
    max-height: fit-content;
}

.MuiDataGrid-cell{
    display:flex;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 2560px) {
    .MuiDataGrid-row>.MuiDataGrid-cell {
        font-size: 1.75rem;
    }
    .imageUrl-table{
        width: 10rem;
    }
    .MuiDataGrid-columnHeaderTitle{
        font-size: 1.5rem;
    }
    .MuiButtonBase-root.MuiButton-root.MuiButton-text{
        font-size: 1.5rem;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall{
        font-size: 2rem;
    }
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl{
        font-size: 1.75rem;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium{
        font-size: 2.5rem;
    }
    .MuiTablePagination-selectLabel{
        font-size: 1.5rem;
    }
    .MuiSelect-select.MuiTablePagination-select.MuiSelect-standard.MuiInputBase-input{
        display: flex;
        font-size: 2rem;
        padding: 10px 40px;
        align-items: center;
    }
    .MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.MuiTablePagination-menuItem{
        font-size: 1.5rem;
    }
    .MuiSelect-nativeInput {
        font-size: 2rem;
    }
    .MuiTablePagination-displayedRows{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 2048px) {
    .MuiDataGrid-row>.MuiDataGrid-cell {
        font-size: 1.5rem;
    }
    .imageUrl-table{
        width: 10rem;
    }
    .MuiDataGrid-columnHeaderTitle{
        font-size: 1.25rem;
    }
    .MuiButtonBase-root.MuiButton-root.MuiButton-text{
        font-size: 1.75rem;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall{
        font-size: 1.75rem;
    }
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl{
        font-size: 1.5rem;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium{
        font-size: 2.25rem;
    }
    .MuiTablePagination-selectLabel{
        font-size: 1.25rem;
    }
    .MuiSelect-select.MuiTablePagination-select.MuiSelect-standard.MuiInputBase-input{
        display: flex;
        font-size: 1.75rem;
        padding: 10px 40px;
        align-items: center;
    }
    .MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.MuiTablePagination-menuItem{
        font-size: 1.25rem;
    }
    .MuiSelect-nativeInput {
        font-size: 1.75rem;
    }
    .MuiTablePagination-displayedRows{
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 1640px) {
    .MuiDataGrid-row>.MuiDataGrid-cell {
        font-size: 1rem;
    }
    .imageUrl-table{
        width: 9rem;
    }
    .MuiDataGrid-columnHeaderTitle{
        font-size: 1rem;
    }
    .MuiButtonBase-root.MuiButton-root.MuiButton-text{
        font-size: 1.25rem;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall{
        font-size: 1.5rem;
    }
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl{
        font-size: 1.25rem;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium{
        font-size: 1.75rem;
    }
    .MuiTablePagination-selectLabel{
        font-size: 1rem;
    }
    .MuiSelect-select.MuiTablePagination-select.MuiSelect-standard.MuiInputBase-input{
        display: flex;
        font-size: 1.25rem;
        padding: 10px 20px;
        align-items: center;
    }
    .MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.MuiTablePagination-menuItem{
        font-size: 1rem;
    }
    .MuiTablePagination-displayedRows{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1024px) {
    .MuiDataGrid-row>.MuiDataGrid-cell {
        font-size: 0.95rem;
    }
    .imageUrl-table{
        width: 8rem;
    }
    .MuiDataGrid-columnHeaderTitle{
        font-size: 0.85rem;
    }
    .MuiButtonBase-root.MuiButton-root.MuiButton-text{
        font-size: 0.85rem;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall{
        font-size: 1rem;
    }
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl{
        font-size: 0.85rem;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium{
        font-size: 1.5rem;
    }
    .MuiTablePagination-selectLabel{
        font-size: 1rem;
    }
    .MuiSelect-select.MuiTablePagination-select.MuiSelect-standard.MuiInputBase-input{
        display: flex;
        font-size: 1rem;
        padding: 10px 20px;
        align-items: center;
    }
    .MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.MuiTablePagination-menuItem{
        font-size: 1rem;
    }
    .MuiSelect-nativeInput {
        font-size: 1.5rem;
    }
    .MuiTablePagination-displayedRows{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .MuiDataGrid-row>.MuiDataGrid-cell {
        font-size: 1rem;
    }
    .imageUrl-table{
        width: 8rem;
    }
    .MuiDataGrid-columnHeaderTitle{
        font-size: 0.7rem;
    }
    .MuiButtonBase-root.MuiButton-root.MuiButton-text{
        font-size: 1rem;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall{
        font-size: 1rem;
    }
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl{
        font-size: 1.1rem;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium{
        font-size: 2rem;
    }
    .MuiTablePagination-selectLabel{
        font-size: 1rem;
    }
    .MuiSelect-select.MuiTablePagination-select.MuiSelect-standard.MuiInputBase-input{
        display: flex;
        font-size: 1rem;
        padding: 10px 20px;
        align-items: center;
    }
    .MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.MuiTablePagination-menuItem{
        font-size: 1rem;
    }
    .MuiSelect-nativeInput {
        font-size: 1.5rem;
    }
    .MuiTablePagination-displayedRows{
        font-size: 1rem;
    }
}
