DROP DATABASE [TitanWeb]
GO

CREATE DATABASE [TitanWeb]
 CONTAINMENT = NONE
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TitanWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TitanWeb]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buttons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](max) NULL,
	[JapaneseLabel] [nvarchar](max) NULL,
	[UrlSlug] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Buttons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[UrlSlug] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Hyperlink] [nvarchar](max) NULL,
	[IsLogo] [bit] NOT NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BoldTitle] [nvarchar](max) NULL,
	[JapaneseBoldTitle] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[JapaneseTitle] [nvarchar](max) NULL,
	[UrlSlug] [nvarchar](max) NULL,
	[SubTitle] [nvarchar](max) NULL,
	[JapaneseSubTitle] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[JapaneseShortDescription] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[JapaneseDescription] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[TelNumber] [nvarchar](max) NULL,
	[InfoGmail] [nvarchar](max) NULL,
	[InfoGmail2] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ImageId] [int] NULL,
	[SectionId] [int] NULL,
	[ButtonId] [int] NULL,
	[CategoryId] [int] NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestForms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CategoryId] [int] NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_RequestForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[JapaneseTitle] [nvarchar](max) NULL,
	[UrlSlug] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[JapaneseDescription] [nvarchar](max) NULL,
	[SectionOrder] [int] NOT NULL,
	[ImageId] [int] NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Facebook] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Linkedin] [nvarchar](max) NULL,
	[Youtube] [nvarchar](max) NULL,
	[ItemId] [int] NOT NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_SubItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buttons] ON 

INSERT [dbo].[Buttons] ([Id], [Label], [JapaneseLabel], [UrlSlug], [Status]) VALUES (1, N'日本', N'English', N'locale-button', 1)
INSERT [dbo].[Buttons] ([Id], [Label], [JapaneseLabel], [UrlSlug], [Status]) VALUES (2, N'JOIN US', N'参加しませんか', N'job-button', 1)
INSERT [dbo].[Buttons] ([Id], [Label], [JapaneseLabel], [UrlSlug], [Status]) VALUES (3, N'REQUEST NOW', N'今すぐリクエスト', N'request-button', 1)
SET IDENTITY_INSERT [dbo].[Buttons] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [UrlSlug]) VALUES (1, N'Navbar', N'navbar')
INSERT [dbo].[Categories] ([Id], [Name], [UrlSlug]) VALUES (2, N'Banner', N'banner')
INSERT [dbo].[Categories] ([Id], [Name], [UrlSlug]) VALUES (3, N'Request', N'request')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([Id], [ImageUrl], [Hyperlink], [IsLogo]) VALUES (1, N'https://titancorpvn.com/assets/images/logo-white.png', N'https://titancorpvn.com/', 1)
INSERT [dbo].[Images] ([Id], [ImageUrl], [Hyperlink], [IsLogo]) VALUES (2, N'https://titancorpvn.com/uploads/banners/home-banner-1.jpg', NULL, 0)
INSERT [dbo].[Images] ([Id], [ImageUrl], [Hyperlink], [IsLogo]) VALUES (3, N'https://titancorpvn.com/uploads/banners/home-banner-2.jpg', NULL, 0)
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Id], [BoldTitle], [JapaneseBoldTitle], [Title], [JapaneseTitle], [UrlSlug], [SubTitle], [JapaneseSubTitle], [ShortDescription], [JapaneseShortDescription], [Description], [JapaneseDescription], [Address], [TelNumber], [InfoGmail], [InfoGmail2], [CreatedDate], [UpdatedDate], [ImageId], [SectionId], [ButtonId], [CategoryId]) VALUES (1, NULL, NULL, N'Navbar', N'Navbar', N'navbar', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Sections] ON 

INSERT [dbo].[Sections] ([Id], [Name], [Title], [JapaneseTitle], [UrlSlug], [Description], [JapaneseDescription], [SectionOrder], [ImageId]) VALUES (1, N'Services', N'WE PROVIDE', N'提供するサービス', N'services', N'Professional and trusted services with cost-effective and exceptional expertise to deal with any complexities in scalable projects', N'最高な専門知識を持つプロフェッショナルによる信頼できるサービスで、複雑で広範囲なプロジェクトに対処するための費用対効果が高い。', 1, NULL)
INSERT [dbo].[Sections] ([Id], [Name], [Title], [JapaneseTitle], [UrlSlug], [Description], [JapaneseDescription], [SectionOrder], [ImageId]) VALUES (2, N'Domains', N'DOMAINS & TECHNOLOGIES', N'ドメイン＆テクノロジー', N'domains', NULL, NULL, 2, 22)
INSERT [dbo].[Sections] ([Id], [Name], [Title], [JapaneseTitle], [UrlSlug], [Description], [JapaneseDescription], [SectionOrder], [ImageId]) VALUES (3, N'Innovations', N'INNOVATIONS', N'イノベーション', N'innovations', NULL, NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[Sections] OFF
GO
SET IDENTITY_INSERT [dbo].[SubItems] ON 

INSERT [dbo].[SubItems] ([Id], [Facebook], [Twitter], [Linkedin], [Youtube], [ItemId]) VALUES (1, N'https://www.facebook.com/Titan-Technology-Corporation-367359790030585/', N'https://twitter.com/titancorpvn', N'https://www.linkedin.com/company/titan-technology-corporation', N'https://www.youtube.com/channel/UCU8y74v5CvedVo4bNGhkQnA', 75)
SET IDENTITY_INSERT [dbo].[SubItems] OFF
GO

CREATE NONCLUSTERED INDEX [IX_Items_ButtonId] ON [dbo].[Items]
(
	[ButtonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Items_CategoryId] ON [dbo].[Items]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Items_ImageId] ON [dbo].[Items]
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Items_SectionId] ON [dbo].[Items]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_RequestForms_CategoryId] ON [dbo].[RequestForms]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Sections_ImageId] ON [dbo].[Sections]
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_SubItems_ItemId] ON [dbo].[SubItems]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Buttons_ButtonId] FOREIGN KEY([ButtonId])
REFERENCES [dbo].[Buttons] ([Id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Buttons_ButtonId]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Images_ImageId] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Images_ImageId]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Sections_SectionId]
GO
ALTER TABLE [dbo].[RequestForms]  WITH CHECK ADD  CONSTRAINT [FK_RequestForms_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[RequestForms] CHECK CONSTRAINT [FK_RequestForms_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Images_ImageId] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Images_ImageId]
GO
ALTER TABLE [dbo].[SubItems]  WITH CHECK ADD  CONSTRAINT [FK_SubItems_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubItems] CHECK CONSTRAINT [FK_SubItems_Items_ItemId]
GO
USE [master]
GO
