.about-page-banner {
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: 160px;
    line-height: 1;
  }
  
  .about-page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    font-size: 72px;
    color: var(--light-color);
    text-transform: uppercase;
    padding: 15px 40px;
    font-weight: 400;
    text-align: center;
  }

  .about-page-image {
    width: 100vw;
    height: 100vh;
  }

  .about-page-container {
    margin: 0 332.5px;
    padding: 0 15px;
  }

  .about-page-content {
    text-align: left;
  }

  .about-page-content h1{
    color: var(--medium-gray);
    font-size: 44px;
    margin: 40px 0 30px;
    font-weight: 400;
  }

  .about-page-content h2{
    color: var(--medium-gray);
    font-size: 22px;
    margin: 0 0 10px;
    padding: 0 0 20px;
    font-weight: 400;
  }

  .about-page-content h3{
    color: var(--medium-gray);
    font-size: 22px;
    font-weight: 300;
  }

  .about-page-content p{
    color: var(--gray-color);
    font-weight: 300;
    margin: 0 0 10px;
    padding: 0 0 20px;
    font-size: 22px;
  }

  .about-page-content p ul{
    list-style: none; 
    padding-left: 5px; 
  }

  .about-page-content p ul li{
    position: relative;
    padding-left: 15px; 
  }

  .about-page-content p ul li::before{
    content: "•"; 
    color: var(--black-color); 
    font-size: 20px; 
    position: absolute;
    left: 0;
    top: 0;
  }

  .about-page-content-strong{
    color: var(--medium-gray);
  }

  .about-page-content table td{
    padding: 0;
    margin: 0;
    vertical-align: top;
    float: left;
    width: 50%;
  }

  .about-page-content table td img{
    width: 585px;
    height: 227.45px;
    filter: grayscale(100%);
  }